@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>В прокате</h1>
    <p class="lead">Здесь будет лента фильмов, находящихся в прокате в данное время</p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Новости кино</h2>
        <p>
            Здесь будет лента новостей кино
        </p>
    </div>
    <div class="col-md-4">
        <h2>Премьеры</h2>
        <p>Здесь будет календарь с премьерами фильмов</p>
    </div>
</div>